swagger: '2.0'
info:
  title: "SEC Companies"
  description: "This is an API for access companies listed by the SEC which have a CIK and industry classification."
  termsOfService: "https://example.com/tos/"
  contact:
    name: API Evangelist
    url: https://apievangelist.com
    email: info@apievangelist.com
  license:
    name: Open Data Commons Public Domain
    url: http://opendatacommons.org/licenses/pddl/
  version: v1.2
host: sec.companies.api.evangelist.com
baseCompanies: /
schemes:
- http
produces:
- application/json
paths:
  /companies/:
    get:
      summary: Search Companies
      description: Search across all of the companies.
      operationId: searchCompanies
      parameters:
        - in: query
          required: true
          type: string
          name: query
          description: 'The query string'
      responses:
        '200':
          description: Response
          schema:
            type: array
            items:
              $ref: "#/definitions/companies"
        '500':
          description: Error Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
      tags:
      - Tag
    post:
      summary: Companies summary.
      description: Companies description
      operationId: companiesOperation
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/companies'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Success Response
          schema:
            type: array
            items:
              $ref: "#/definitions/companies"
        '403':
          description: No Access Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
        '500':
          description: Error Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
      tags:
      - Tag
  /companies/{CIK}/:
    get:
      summary: Companies summary.
      description: Companies description
      operationId: companiesOperation
      parameters:
        - in: path
          required: true
          type: string
          name: CIK
          description: 'The CIK for the company.'
      responses:
        '200':
          description: Area Response
          schema:
            type: array
            items:
              $ref: "#/definitions/companies"
        '500':
          description: Error Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
      tags:
      - Tag
    put:
      summary: Update Company
      description: Update the company information.
      operationId: updateCompany
      parameters:
        - in: path
          required: true
          type: string
          name: CIK
          description: 'The CIK for the company.'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/companies'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Success Response
          schema:
            type: array
            items:
              $ref: "#/definitions/companies"
        '403':
          description: No Access Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
        '500':
          description: Error Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
      tags:
      - Tag
    delete:
      summary: Companies summary.
      description: Companies description
      operationId: companiesOperation
      parameters:
        - in: path
          required: true
          type: string
          name: CIK
          description: 'The CIK for the company.'
      security:
        - appid: []
        - appkey: []
      responses:
        '200':
          description: Success Response
          schema:
            type: array
            items:
              $ref: "#/definitions/companies"
        '403':
          description: No Access Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
        '500':
          description: Error Response
          schema:
            type: array
            items:
              $ref: "#/definitions/error_response"
      tags:
      - Tag
securityDefinitions:
  x-api-key:
    type: apiKey
    in: header
    name: x-appkey
definitions:
  business_address:
    title: Business Address
    description: The business address for a company.
    type: array
    properties:
      id:
        type: integer
        maxLength: 11
      CIK:
        type: integer
        maxLength: 11
      street:
        type: string
        maxLength: 500
      city:
        type: string
        maxLength: 250
      state:
        type: string
        maxLength: 10
      zipCode:
        type: string
        maxLength: 25
      phoneNumber:
        type: string
        maxLength: 10
    required:
    - id
  former_names:
    title: Former Names
    description: Former names for the company.
    type: array
    properties:
      id:
        type: integer
        maxLength: 11
      CIK:
        type: integer
        maxLength: 11
      date_used:
        type: string
        maxLength: 50
      name:
        type: string
        maxLength: 250
    required:
    - id
  mailing_address:
    title: Mailing Address
    description: The mailing address for a company.
    type: array
    properties:
      id:
        type: integer
        maxLength: 11
      CIK:
        type: integer
        maxLength: 11
      street:
        type: string
        maxLength: 500
      city:
        type: string
        maxLength: 250
      state:
        type: string
        maxLength: 10
      zipCode:
        type: string
        maxLength: 25
    required:
    - id
  companies:
    title: companies
    description: All the companies with a CIK and industry code.
    type: object
    properties:
      id:
        type: integer
        maxLength: 11
      CIK:
        type: string
        maxLength: 100
      name:
        type: string
        maxLength: 500
      Location:
        type: string
        maxLength: 5
      SIC:
        type: integer
        maxLength: 11
      SICDescription:
        type: string
        maxLength: 250
      fiscalYearEnd:
        type: string
        maxLength: 50
      stateOfIncorporation:
        type: string
        maxLength: 5
      pull_profile:
        type: integer
        maxLength: 11
      pull_filings:
        type: integer
        maxLength: 11
      business_address:
        type: "array"
        items:
          $ref: "#/definitions/companies_business_address"
      former_names:
        type: "array"
        items:
          $ref: "#/definitions/companies_former_names"
      mailing_address:
        type: "array"
        items:
          $ref: "#/definitions/companies_mailing_address"
    required:
    - id
  error_response:
    description: 'Describes an HTTP error returned'
    properties:
      code:
        description: 'Repeat the HTTP status code'
        type: integer
      message:
        description: 'A plain language message explaining the error'
        type: integer
