---
layout: default
title: SEC Companies
---

<!--Definitions-->
{% assign service_name = "" %}
{% assign service_description = "" %}

<!--Documentation-->
{% assign documentation_overview_title = "" %}
{% assign documentation_overview_header = ""  %}
{% assign documentation_overview_footer = ""  %}

{% for stop in site.stops %}

  <!--Begin Definition-->
  {% if stop.name == 'Definition' %}

    {% for item in stop.items %}

      {% if item.name == 'Service Name' %}
        {% assign service_name = item.fields | map: 'service_name' %}
      {% endif %}

      {% if item.name == 'Service Description' %}
        {% assign service_description = item.fields | map: 'service_description' %}
      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Definition-->

  <!--Begin Documentation-->
  {% if stop.name == 'Documentation' %}
    {% for item in stop.items %}

      {% if item.name == 'Overview' %}

        {% assign documentation_overview_title = item.fields | map: 'title' %}
        {% assign documentation_overview_header = item.fields | map: 'header' %}
        {% assign documentation_overview_footer = item.fields | map: 'footer' %}

      {% endif %}

      {% if item.name == 'Schema' %}

        {% assign documentation_schema_title = item.fields | map: 'title' %}
        {% assign documentation_schema_header = item.fields | map: 'header' %}
        {% assign documentation_schema_footer = item.fields | map: 'footer' %}

      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Documentation-->

  <!--Begin Authentication-->
  {% if stop.name == 'Authentication' %}
    {% for item in stop.items %}

      {% if item.name == 'Overview' %}

        {% assign authentication_overview_title = item.fields | map: 'title' %}
        {% assign authentication_overview_header = item.fields | map: 'header' %}
        {% assign authentication_overview_footer = item.fields | map: 'footer' %}

      {% endif %}

      {% if item.name == 'SignupLogin' %}

        {% assign authentication_signuplogin_title = item.fields | map: 'title' %}
        {% assign authentication_signuplogin_header = item.fields | map: 'header' %}
        {% assign authentication_signuplogin_footer = item.fields | map: 'footer' %}

      {% endif %}

    {% endfor %}

  {% endif %}
  <!--End Documentation-->

{% endfor %}

<!-- overview -->
<section id="overview">
	<div class="content">
		<header>
			<h3>{{ service_name }} Checklist</h3>
		</header>
		<p>This is the checklist.</p>
	</div>
</section>

<!--Documentation-->
<a name="documentation"></a>
{% assign openapi = site.data.openapi %}

<section id="documentation">
  <div class="content">

    <table>
    {% for stop in site.stops %}
      <tr>
        <td colspan="2"><h3>{{ stop.name }}</h3></td>
      </tr>
      {% for item in stop.items %}
        <tr>
          <td style="width: 50px;"></td>
          <td style="padding: 10px;"><strong>{{ item.name }}</strong> ({{ item.status }}) - {{ item.instruction }}</td>
        </tr>
          <tr>
            <td style="width: 50px;"></td>
            <td style="padding: 3px;">
              <table width="100%">
                {% for fields in item.fields %}
                  <tr>
                  {% for field in fields %}
                    {% assign field_name = field[0] %}
                    {% assign field_label = field_name| replace: '_',' ' | capitalize %}
                    {% assign field_details = field[1] %}
                    <td style="width: 5%;"></td>
                    <td style="width: 15%; text-align: right;"><strong>{{ field_label }}:</strong></td>
                    <td>
                      {% if field_details.first %}
                        ARRAY!!! - {{ field_details }}
                      {% else %}
                        <input type="text" name="{{ field_name }}" value="{{ field_details }}" style="width: 75%" />
                      {% endif %}
                    </td>
                  {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            </td>
          </tr>
      {% endfor %}
    {% endfor %}
    </table>

  </div>
</section>
